@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");

*{
    margin:0;
    padding:0;
    /* box-sizing:border-box; */
    font-family: "Be Vietnam Pro", sans-serif;
    scroll-behavior: smooth;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}
.logo{
    width: 80px;
}

.logo_container{
    display: flex;
    justify-content: baseline;
    align-items: center;
}
.logo-text{
    margin-left: -1.2rem;
    font-size: 28px;
}
.nav_items{
    display: flex;
    gap: 2rem;
    padding: 0 4rem;
}

.nav_items div{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.nav_items div a{
    color: black;
    text-decoration: none;
}

.nav_items div:hover{
    transition: 0.2s;
    font-weight: bolder;
    scroll-behavior: smooth;
}


